<tr class="text-size">
  <td class="text-size__spec">
    {{include.weight}}<br>{{include.size}}
  </td>
  <td class="text-size__example dci-font-weight-{{include.weight | downcase}}" style="font-size: {{include.size}}; color: #23242B">
    {{include.copy}}
  </td>
</tr>